@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    scroll-behavior:smooth ;
    --line-color: #e5e7eb;
}
.navbar{
    backdrop-filter: blur(10px) !important;
}
html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
  }
  .Experience::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: red;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.bHAjAv,.hzItGr{
    padding: 0 !important;

}



@media (min-width:768px){
    .experienceItem .item:nth-child(2){
        flex-direction: row-reverse;
    }
    .experienceItem .item:nth-child(2) .date{
        text-align: left !important;
    }
}
@media (max-width:767px){
    .experienceItem ul li .css-1oug4av-MuiTypography-root-MuiTimelineOppositeContent-root {
        width: 100px !important;
        background-color: red;

    }
}
/* class=" " */